<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>The movies game</title>
	<link rel="STYLESHEET" type="text/css" href="file.css"></link> 
</head>
<body>
	<div style="display:block">
	<img src=<%= @posters[0] %>> <img src=<%= @posters[1] %>> <img src=<%= @posters[2] %>> <br>
	<img src=<%= @posters[3] %>> <img src=<%= @posters[4] %>> <img src=<%= @posters[5] %>> <br>
	<img src=<%= @posters[6] %>> <img src=<%= @posters[7] %>> <img src=<%= @posters[8] %>>
	</div>
</body>
</html>