<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>The movies game</title>
	<link rel="STYLESHEET" type="text/css" href="file.css"></link> 
</head>
<body>
	<div style="display:block">
	<img src=<%= @movies[0].poster %>>
	<img src=<%= @movies[1].poster %>>
	<img src=<%= @movies[2].poster %>> <br>
	<img src=<%= @movies[3].poster %>>
	<img src=<%= @movies[4].poster %>>
	<img src=<%= @movies[5].poster %>> <br>
	<img src=<%= @movies[6].poster %>>
	<img src=<%= @movies[7].poster %>>
	<img src=<%= @movies[8].poster %>>
	</div>
</body>
</html>